# Entorno virtual
venv/
env/

# Caché de Python
__pycache__/
*.pyc

# Archivos de configuración locales
.env

# Configuraciones de editor/IDE
.vscode/
.idea/

# Archivos de log
*.log

# Archivos de migración
alembic/